// @use '../globals/colors';

button,
.btn {
    margin: 0.5rem;
    padding: 0.8em 1.2em;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    border-radius: 0.5em;
    background: none;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 2px 1px 0px rgba(36, 222, 209, 0.7);
    }
}

.btn-primary {
    background: linear-gradient(109.14deg, #8119C8 32.34%, #739AFF 104.02%);
}

.btn-secondary {
    background-color: #739AFF;
}

.btn-outline {
    background: none;
    border: 1px solid #7966E9;
    color: #7966E9;
}