@use '../globals/index' as *;

.form {
  width: 20rem;
  margin: 0 auto;

  label {
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    background-color: #e7e4ff;
    color: #18224e;

    &:hover {
      box-shadow: 0px 1px 8px 0px rgba(27, 224, 231, 0.912);
    }

    img {
      cursor: pointer;
    }
  }

  &__input {
    width: 20rem;
    padding: 0.7rem;
    border-radius: 0.5em;
    border: none;
    outline: none;
    background: none;
    color: #18224e;

  }
}

.button-form {
  margin: 0.5rem;
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: bold;
  background: $purple;
  color: $black;
  border: none;
  border-radius: 0.5em;
  box-shadow: none;

  &[disabled] {
    background: $text;
  }
}

.autosuggest {
  input {
    background: $white;
    color: $dark-purple;

    &::placeholder {
      color: $black;
    }
  }
}