$purple: #7966E9;
$dark-purple: #4a36ba;
$white: #fffffe;
$text: #a7a9be;
$orange: #ff8906;
$black: #010320;
$medium-red: #e531ac;
$light-red: #f24cb0;
$cyan: #24DED3;

:root {
  --link-color: #{$cyan};
  --hover-color: #{$purple};
  --cyan: #{$cyan};
  --black: #{$black};
}